.container {
  // max-width: calc(768px + 16px * 2);
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.home-page {
  background: #fbfbfc;
  border: 1px solid #85baea;
}

.app-bar {
  background-image: linear-gradient(to right, #2c79f2, #00ccfd) !important;
} 

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../images/load_process.gif) center no-repeat #fff;
}
